profiles {

    standard {

        docker {

            enabled             = true

            envWhitelist        = "SLURM_CPUS_ON_NODE"

            runOptions          = '-v "$TMPDIR":"$TMPDIR"'

        }

    }

    docker {

        docker {

            enabled             = true

            envWhitelist        = "SLURM_CPUS_ON_NODE"

            runOptions          = '-v "$TMPDIR":"$TMPDIR"'

        }
    
    }

    podman {

        podman {

            enabled             = true

            envWhitelist        = "SLURM_CPUS_ON_NODE"

            runOptions          = '-v "$TMPDIR":"$TMPDIR"'

        }
    
    }

    singularity {

        singularity {

            enabled             = true

            envWhitelist        = "SLURM_CPUS_ON_NODE"

            runOptions          = '-B "$TMPDIR"'

            autoMounts          = true

        }
    
    }

    single_short {

        params {

            single_calling      = true

            ont                 = false

        }
    
    }

    joint_short {

        params {

            single_calling      = false

            ont                 = false

        }
    
    }

    joint_ont {

        params {

            single_calling      = false

            ont                 = true

        }
    
    }

}

process {

    executor                    = "slurm"

    clusterOptions              = "-A ucgd-rw --partition ucgd-rw -N 1"
        
    errorStrategy               = "ignore"

    withLabel: trimgalore {

    	container               = "file:///uufs/chpc.utah.edu/common/HIPAA/u1084359/work_dir/singularity_images/mtb-call/mtb-call_trimgalore.sif"
        //container               = "bacterial_variant_calling:trimgalore"

    }
    
    withLabel: mapping {

        container               = "file:///uufs/chpc.utah.edu/common/HIPAA/u1084359/work_dir/singularity_images/mtb-call/mtb-call_mapping.sif"
        //container               = "bacterial_variant_calling:mapping"

    }

    withLabel: variantcalling {

        container               = "file:///uufs/chpc.utah.edu/common/HIPAA/u1084359/work_dir/singularity_images/mtb-call/mtb-call_variantcalling.sif"
        //container               = "bacterial_variant_calling:variantcalling"

    }

    withLabel: ont {

        container               = "file:///uufs/chpc.utah.edu/common/HIPAA/u1084359/work_dir/singularity_images/long_methylation/ont.sif"
        //container               = "mmarchetti90/long_methylation:ont"

    }

    withLabel: dorado {

        container               = "file:///uufs/chpc.utah.edu/common/HIPAA/u1084359/work_dir/singularity_images/long_methylation/ont.sif"
        //container               = "mmarchetti90/long_methylation:ont"

        singularity.runOptions  = "--nv"

        clusterOptions          = "-A ucgd-gpu-rw --partition ucgd-gpu-rw --gpus-per-node a100:1 --mem-per-gpu 80G -N 1"

    }

}

params {

    // OUTPUT DIRECTORIES

    reports_out                 = "reports"

    trimgalore_out              = "trimmed_fastq"

    basecall_out                = "basecall"

    bam_out                     = "bams"

    variants_out                = "variants"

    fasta_out                   = "fasta"

    // MAIN VARIABLES

    reference_fasta             = "/path/to/fasta" // Only for joint calling

    data_manifest_path          = "/path/to/data/manifest"

    trimgalore_params           = ""

    mapper                      = "bwa"
    
    depth_threshold             = 5

    qual_threshold              = 20

    ploidy                      = 1
    
    variants_only               = true

    run_lofreq                  = true // Only for single calling

    // ONT options

    input_file_type             = "pod5" // Format of the files containing raw electrical signal levels (fast5 or pod5)

    skip_basecalling            = true

    dorado_executable_path      = "" // Do not write the actual "dorado" in the path. e.g. if path is "/a/b/c/dorado", use "/a/b/c/" (this if for compatibility with LMOD)

    dorado_model                = "hac" // See https://github.com/nanoporetech/dorado?tab=readme-ov-file#automatic-model-selection-complex

    dorado_parameters           = "" // e.g. "--device cpu" if GPU nodes are unavailable

    minimap2_parameters         = ""

}
