profiles {

    standard {

        docker {

            enabled             = true

            envWhitelist        = "SLURM_CPUS_ON_NODE"

            runOptions          = '-v "$TMPDIR":"$TMPDIR"'

        }

    }

    docker {

        docker {

            enabled             = true

            envWhitelist        = "SLURM_CPUS_ON_NODE"

            runOptions          = '-v "$TMPDIR":"$TMPDIR"'

        }
    
    }

    podman {

        podman {

            enabled             = true

            envWhitelist        = "SLURM_CPUS_ON_NODE"

            runOptions          = '-v "$TMPDIR":"$TMPDIR"'

        }
    
    }

    singularity {

        singularity {

            enabled             = true

            envWhitelist        = "SLURM_CPUS_ON_NODE"

            runOptions          = '-B "$TMPDIR"'

            autoMounts          = true

        }
    
    }

    single {

        params {

            single_calling      = true

        }
    
    }

    joint {

        params {

            single_calling      = false

        }
    
    }

}

process {

    executor                    = "slurm"

    clusterOptions              = "-A ucgd-rw --partition ucgd-rw -N 1"
        
    errorStrategy               = "ignore"

    withLabel: trimgalore {

    	container               = "bacterial_variant_calling:trimgalore"

    }
    
    withLabel: mapping {

        container               = "bacterial_variant_calling:mapping"

    }

    withLabel: variantcalling {

        container               = "bacterial_variant_calling:variantcalling"

    }

}

params {

    // OUTPUT DIRECTORIES

    reports_out                 = "reports"

    trimgalore_out              = "trimmed_fastq"

    bam_out                     = "bams"

    variants_out                = "variants"

    fasta_out                   = "fasta"

    // MAIN VARIABLES

    reference_fasta             = "/path/to/fasta" // Only for joint calling

    data_manifest_path          = "/path/to/data/manifest"

    trimgalore_params           = ""

    mapper                      = "bwa"
    
    depth_threshold             = 5

    qual_threshold              = 20

    ploidy                      = 1
    
    variants_only               = true

    run_lofreq                  = true // Only for single calling

}
